[Desktop Entry]
Name=1.python3Setup
Type=Application
Exec=lxterminal --command "wine /root/Desktop/install/python-*.exe"
StartupNotify=true
Path=/root/Desktop
Icon=E03C_WeChat.0
