[Desktop Entry]
Name=2.WeChatSetup
Type=Application
Exec=lxterminal --command "wine /root/Desktop/install/WeChatSetup-*.exe"
StartupNotify=true
Path=/root/Desktop
Icon=E03C_WeChat.0
